#menu nav.navbar.navbar-default.navbar-inverse {
    border-radius: 0;
}
.logo_title a,.navbar_menu a {
	color: #ED1C24;
}
.banner img {
	width: 100%;
}
.content_title h2 {
	margin: 10px 0px;
	padding: 15px 5px;
	color: #ED1C24;
	font-size: 165%;
	font-weight: bold;
	background-color: #252525;
}
.thumbnail h3{
	margin-top: 0px;
}
#tb_listproduct img.img-responsive {
	width: 200px;
	height: 180px;
}
img.img-responsive {
    width: 120px;
    height: 80px;
}
table {
	text-align: center;
}
table#tb_listproduct tr th{
	vertical-align: middle !important;
}